hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

img {
    height: auto;
    /* Make sure images are scaled correctly. */
    max-width: 100%;
    /* Adhere to container width. */
}



table {
    margin: 0 0 1.5em;
    width: 100%;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
    /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    -webkit-clip-path: none;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}

.widget {
    margin: 0 0 1.5em;
    /* Make sure select elements fit in widgets. */
}


/* original width 
.container{max-width:1150px;}
*/

.container {
    max-width: 1200px;
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1400px;
}


.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}


/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
    /* Theme Footer (when set to scrolling) */
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
    display: block;
}

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}



body {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    -webkit-font-smoothing: auto;
    text-rendering: optimizeLegibility !important;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: auto;
    font-family: bio-sans, sans-serif;
    background-image: url("../images/bg.jpg");
    background-size: 100% auto;
    font-weight: 300;
    font-size: 16px;
    font-style: normal;
    color: #1C3237;
}

.ptitleh1 {
    font-size: 90px;
}

h1,
h2,
h3 {
    font-family: bio-sans, sans-serif;
    font-weight: 250 !important;
    font-style: normal;
}

a,
button,
input {
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

a {
    color: #1C3237;
    text-decoration: none !important;
}

blockquote {
    font-size: 1.25rem;
    padding: 1.25rem 1.75rem;
}

table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

table th,
table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

table tbody+tbody {
    border-top: 2px solid #dee2e6;
}

table table {
    background-color: #fff;
}



input[type="button"],
input[type="reset"],
input[type="submit"],
.submit-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    padding: 0.5rem 1.25rem !important;
    color: #fff;
    background-color: #007bff !important;
    border-color: #007bff !important;
}

input[type="button"]:active,
input[type="button"]:hover,
.submit-btn:active,
input[type="reset"]:hover,
input[type="submit"]:active,
input[type="submit"]:hover {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
    cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    display: block;
    width: 100% !important;
    padding: 0.375rem 0.75rem !important;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
    border-radius: 0.25rem !important;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

input[type="text"]:-webkit-input-placeholder,
input[type="text"]:-moz-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="email"]:-webkit-input-placeholder,
input[type="email"]:-moz-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="url"]:-webkit-input-placeholder,
input[type="url"]:-moz-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="password"]:-webkit-input-placeholder,
input[type="password"]:-moz-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="search"]:-webkit-input-placeholder,
input[type="search"]:-moz-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="number"]:-webkit-input-placeholder,
input[type="number"]:-moz-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="tel"]:-webkit-input-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="range"]:-webkit-input-placeholder,
input[type="range"]:-moz-placeholder,
input[type="range"]:-ms-input-placeholder,
input[type="date"]:-webkit-input-placeholder,
input[type="date"]:-moz-placeholder,
input[type="date"]:-ms-input-placeholder,
input[type="month"]:-webkit-input-placeholder,
input[type="month"]:-moz-placeholder,
input[type="month"]:-ms-input-placeholder,
input[type="week"]:-webkit-input-placeholder,
input[type="week"]:-moz-placeholder,
input[type="week"]:-ms-input-placeholder,
input[type="time"]:-webkit-input-placeholder,
input[type="time"]:-moz-placeholder,
input[type="time"]:-ms-input-placeholder,
input[type="datetime"]:-webkit-input-placeholder,
input[type="datetime"]:-moz-placeholder,
input[type="datetime"]:-ms-input-placeholder,
input[type="datetime-local"]:-webkit-input-placeholder,
input[type="datetime-local"]:-moz-placeholder,
input[type="datetime-local"]:-ms-input-placeholder,
input[type="color"]:-webkit-input-placeholder,
input[type="color"]:-moz-placeholder,
input[type="color"]:-ms-input-placeholder,
textarea:-webkit-input-placeholder,
textarea:-moz-placeholder,
textarea:-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
}

select {
    height: calc(2.25rem + 2px);
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}


.btn-stretto-primary,
button.btn-stretto-primary {
    background: #fc7250 !important;
    transition: all .5s !important;
    box-shadow: none;
    min-width: 135px;
}

* Buttons ----------- */ .btn-stretto-primary,
.btn-stretto-outline {
    position: relative;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 1;
    border: 3px solid #fc7250 !important;
    padding: 11px 48px 14px !important;
    border-radius: 4px !important;
    overflow: hidden;
    clip-path: polygon(100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0% 0, 0 0);
}

.btn-stretto-primary:before,
.btn-stretto-outline:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    border: 3px solid;
    border-color: inherit;
    transform: rotate(45deg) translateX(15px);
    background: #fff;
}

.btn-stretto-primary,
button.btn-stretto-primary {
    background: #fc7250;
    transition: all .5s !important;
}

.btn-stretto-primary:hover,
button.btn-stretto-primary:hover,
.btn-stretto-primary:active,
button.btn-stretto-primary:active {
    background: #99432e !important;
    border-color: #99432e !important;
}

a.btn-stretto-primary {
    color: #fff;
    text-decoration: none !important;
}

.btn-stretto-outline {
    color: #223a3f;
    background: #fff;
    transition: all .3s;
}

a.btn-stretto-outline {
    color: #223a3f;
    text-decoration: none !important;
}

.btn-stretto-outline:hover,
a.btn-stretto-outline:hover {
    color: #fff !important;
    background: #99432e !important;
    border-color: #99432e !important;
}

.cms-component-411edc1a-select,
.cms-component-411edc1a-autocomplete {
    width: 100%;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.cms-component-411edc1a-select .label.null-value:after,
.cms-component-411edc1a-autocomplete .input:after {
    top: 50%;
    transform: translateY(-50%) rotate(90deg) !important;
}

.cms-component-411edc1a-select .label.menu-visible:after {
    -webkit-transform: translateY(-50%) rotate(-90deg);
    transform: translateY(-50%) rotate(-90deg)
}

blockquote {
    font-style: italic;
    font-size: 1.15rem;
    border-left: 3px solid rgba(33, 37, 41, 0.25);
    padding: 0.5rem 1.75rem;
    background: rgba(33, 37, 41, 0.05);
}

blockquote p {
    font-size: 1.15rem;
}

blockquote p:last-child {
    margin-bottom: 0;
}

.navbar {
    z-index: 1000;
}

.navbar-nav .dropdown-menu a {
    display: block;
    width: 100%;
    padding: .75rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #2C4146;
    text-align: inherit;
    white-space: nowrap;
    background-color: #fff;
    border: 0;
    font-size: 14px;
}

.navbar-nav .dropdown-menu a:after {
    background: none repeat scroll 0 0 #FC7250;
    bottom: -2px;
    content: "";
    display: block;
    height: 1px;
    position: relative;
    width: 18px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    width: 250px;
    padding: 1rem;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0rem;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
}






.post-thumbnail {
    margin-top: 1.5em;
    display: inline-block;
}

.card-title.entry-title {
    margin-bottom: .25rem;
}


.content-area.wp-bp-404 .card-body {
    padding: 2.5rem 4rem;
}

.footer-widgets .widget {
    padding: 0.5rem;
}

.hentry.card .card-body {
    padding: 1.5rem;
}

select {
    height: calc(2.25rem + 2px);
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -o-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.entry-title a:hover {
    text-decoration: none;
}

.site-branding-text img {
    max-width: none;
}

/*
@media (min-width: 576px) {
    .site-branding-text img {
        width:6.875rem
    }
}

@media (min-width: 768px) {
    .site-branding-text img {
        width:8.75rem
    }
}

@media (min-width: 992px) {
    .site-branding-text img {
        width:10.625rem
    }
}

@media (min-width: 1200px) {
    .site-branding-text img {
        width:12.5rem
    }
}

/*
.navbar { padding: 1rem; }
*/
#wp-bp-posts-slider {
    border: 0px solid rgba(0, 0, 0, 0.125);
}

#wp-bp-posts-slider .carousel-item img {
    width: auto;
    height: 720px;
    -o-object-fit: cover;
    object-fit: cover;
}

#wp-bp-posts-slider .carousel-caption {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2rem 4rem;
}

#wp-bp-posts-slider .carousel-control-prev,
#wp-bp-posts-slider .carousel-control-next {
    width: 10%;
}

.custom-logo-link {
    margin-right: 1rem;
}

.site-title a,
.navbar-dark .navbar-brand,
.site-description {
    color: #fff;
    margin-bottom: 0;
}

.navbar-brand {
    font-size: 1.5rem;
}

li.nav-item:hover {
    border-bottom: solid 8px #fc7250;
    padding-bottom: 20px;
}

.navbar-nav .nav-link {
    color: #2c4146;
    opacity: 1;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-nav .nav-link.active:hover {
    color: #fc7250;
}

.navbar-nav .nav-link.active {
    color: #2c4146;
    border-bottom: solid 8px #fc7250;
    padding-bottom: 20px;
}

/*.navbar-nav .show > .nav-link, .navbar-nav .active > .nav-link, .navbar-nav .nav-link.show, .navbar-nav .nav-link.active { color: #fff; opacity: 1; }*/

.navbar-brand:hover,
.navbar-brand:focus {
    color: #fff;
}

.navbar-nav .dropdown-menu .active>.nav-link {
    color: #FC7250;
}

.navbar-nav .dropdown-menu .nav-link:hover,
.navbar-nav .dropdown-menu .nav-link:focus {
    color: #212529;
}

.page-template-full-width .site-footer.mt-4,
.wb-bp-front-page .site-footer.mt-4 {
    margin-top: 0 !important;
}

.wb-hide-mobile-sidebar .wp-bp-sidebar-width {
    display: none;
}

.navbar-toggler {
    background-color: #343a40;
}

.site-header {
    background-color: #f3f5fb;
    height: 81px;
    padding-top: 15px;
}

body.custom-background .wp-bp-main-content .col-md-8 {
    background: #f8f9fa;
    padding: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.site-footer a:hover {
    text-decoration: none;
}


.cases-back {
    padding-top: 2em;
}

.cases-back a {
    color: #FD7250;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.cases-back a:hover {
    color: #fff;
}

.fxc {
    width: 25%;
    float: left;
}

.mr20 {
    margin-right: 20px;
}

.card50 {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 45%;
    word-wrap: break-word;
    float: left;
    margin: 35px 0px;
}

.entry-header {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.entry-header a:link,
.entry-header a:visited,
.navicon a:link,
.navicon a:visited {
    color: #fff;
}

.card50bg {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 45%;
    height: 121px;
    word-wrap: break-word;
    background-image: url("../images/home-feature-bg.png");
    border-radius: 0.25rem;
    float: left;
    margin: 15px;
    text-align: center;
}

.card25 {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 22%;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    float: left;
    margin: 15px;
}

.navicon {
    width: 86px;
    height: 43px;
    background-image: url("../images/login-button-bg.png");
    padding: 10px;
    text-align: center;
    margin: 15px;
    background-repeat: no-repeat;
    background-position: right top;
}

.ml-auto-cent {
    margin: auto;
}

.mx1000 {
    max-width: 1000px;
    margin: auto;
}

.site-footer {
    background-image: url("../images/NewCo-Footer-img.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*min-height: 460px;*/
    font-size: 14px;
    color: #fff;
    padding: 0px !important;
}

.site-footer .footer-widgets {
    padding: 1.5rem 0 2.7rem;
}

.site-footer a:link,
.site-footer a:visited,
.copyr a:link,
.copyr a:visited,
.nav-item a.search-form-tigger:link,
.nav-item a.search-form-tigger:visited {
    color: #fff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.copyr {
    background: #1C3237;
    height: 66px;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    padding: 17px 0px;
}

.footer-title {
    font-size: 14px;
    color: #FC7250;
    font-weight: bold;
}

.location-title {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}

.socicon {
    float: right;
}

.card-title:before {
    background: none repeat scroll 0 0 #FC7250;
    top: -10px;
    content: "";
    display: block;
    height: 3px;
    position: relative;
    width: 40px;
}

.location-title:before {
    background: none repeat scroll 0 0 #FC7250;
    top: -10px;
    content: "";
    display: block;
    height: 3px;
    position: relative;
    width: 10px;
}

.mt70 {
    margin-top: 70px;
}


.navbar-nav {
    height: 63px;
}

#loc-column {
    display: none;
}

#headquarters {
    background-color: #173237;
    color: #fff;
    overflow: hidden;
    padding: 5em 0 0;
}

#headquarters .head-quarters {
    position: relative;
}

#headquarters .head-quarters-wrap {
    margin-left: 25%;
}

#headquarters .title {
    margin-bottom: 12px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    font-family: 'bio-sans';
}

#headquarters .head-quarters-block {
    font-size: 18px;
    margin-bottom: 1rem;
}

.mb-6,
.my-6 {
    margin-bottom: 4.5rem !important;
}

.head-quarters-title {
    position: absolute;
    left: 20px;
    top: 44%;
    transform: translateY(-0%);
    color: #000;
    opacity: 0.1;
    pointer-events: none;
    font-size: 11.6rem;
    line-height: 11rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
}

#prefooter {
    background-image: url("../images/NewCo-Footer-img.jpg");
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding-top: 3em;
}

#prefooter a {
    color: #fff;
    font-size: 20px;
}

#prefooter ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#prefooter ul li ul {
    margin-left: 10px;
}

#prefooter ul li {
    margin-bottom: 10px;
}

#prefooter ul li ul a {
    font-size: 18px;
}

#prefooter a:hover {
    color: #fd7250;
}

#prefooter h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

#prefooter h3 a {
    color: #fd7250;
    font-weight: bold;
    text-transform: uppercase;
}

#prefooter h3 a:hover {
    color: #fff;
}

#prefooter .col-md-3 {
    margin-bottom: 3em;
}

/*  .rectbg {
width: 180px;
height: 53px;
font-size:14px;
padding: 10px;
text-align: center;
margin: 15px;
position:relative; 
border:2px solid #FC7250; display: inline-block;
}

.rectbg:before {
    position:absolute; right:-1px; bottom:-1px; content:'';
    border-bottom: 15px solid #FC7250;
    border-left: 15px solid transparent;
}

.rectbg:after {
    position:absolute; right:-2px; bottom:-2px; content:'';
    border-bottom: 15px solid white;
    border-left: 15px solid transparent;
} */
.rectbg:hover,
.rectbg:active {
    background-color: #FC7250;
    color: #FFF;
}

/*.rectbg a:link, .rectbg a:visited {
color:#000;
position: relative;
float: left;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

} */
html {
    scroll-behavior: smooth;
}

#scroll-up {
    bottom: 6rem;
    right: 3rem;
    width: 2.75rem;
    height: 2.75rem;
    background-color: #aaa;
    border-radius: 50%;
    padding-top: 0;
    padding-left: 11px;
    font-size: 30px;
    opacity: .75;
    z-index: 999;
    position: fixed;
}

#scroll-up .up-arrow {
    background-image: url(/themes/stretto/images/up-chevron.svg);
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
    margin-top: 13px;
    margin-left: 5px;
    text-indent: -99999px;
}

.mobsel {
    display: none;
}

.rectbg {
    position: relative;
    width: 183px;
    height: 53px;
    margin: 10% auto;
    font-size: 14px;
    background: rgba(0, 0, 0, 0);
    border-left: 2px solid rgba(252, 114, 80, 0.8);
    border-top: 2px solid rgba(252, 114, 80, 0.8);
    border-bottom: 2px solid rgba(252, 114, 80, 0.8);
}

.rectbg:before,
.rectbg:after {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 20px;
    height: 53px;
}


.rectbg:after {
    left: 100%;
    border-top: 2px solid rgba(252, 114, 80, 0.8);
    border-right: 2px solid rgba(252, 114, 80, 0.8);
    border-bottom: 2px solid rgba(252, 114, 80, 0.8);
    border-left: none;
    background: inherit;

    -webkit-transform-origin: 100% 100% !important;
    transform-origin: 0 0% !important;

    -webkit-transform: perspective(1px) rotateY(0.90deg) !important;
    transform: perspective(1px) rotateY(0.90deg) !important;
}

.rectbg p {
    color: #000;
    position: relative;
    float: left;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rectbg a:hover {
    color: #FFF;
}

.whtlk {
    color: #FFF !important;
}

.feature-banner {
    height: 610px;
    color: #fff;
    background: #000;
    margin: 50px 0px;
    padding: 80px;
}

.feature-text {
    font-size: 18px;
    width: 300px;
    float: right;
    text-align: left;
}

.feature-text-left {
    font-size: 18px;
    width: 300px;
    text-align: left;
}

.feature-banner-overlay {
    text-align: right;
}

.feature-banner-overlay .rectbg {
    margin: 30px 0px;
}

.feature-banner-overlay .rectbg a:link,
.feature-banner-overlay .rectbg a:visited {
    color: #fff;
    font-size: 14px;
}

.ptitle-banner {
    height: 298;
    color: #fff;
    background: #000;
    margin: 0px 0px;
    padding: 80px;
    background-image: url("../images/hdr-page-feature.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.ptitle-banner-overlay {
    text-align: left;
}

.cs-text {
    font-size: 18px;
}

.cs-text .rectbg {
    margin: 30px 0px;
}

.left {
    text-align: left;
}

h3.cs:after {
    background: none repeat scroll 0 0 #FC7250;
    bottom: -10px;
    content: "";
    display: block;
    height: 5px;
    position: relative;
    width: 20px;
    margin-bottom: 30px;
}

.event-list {
    font-size: 18px;
    margin: 50px 0px;
}

.event-list-byline {
    width: 200px;
    float: left;
    font-size: 14px;
}

.event-list-byline:before {
    background: none repeat scroll 0 0 #FC7250;
    bottom: -10px;
    content: "";
    display: block;
    height: 5px;
    position: relative;
    width: 20px;
    margin-bottom: 30px;
}

.event-list h3 {
    font-weight: 700;
}

.casestudies .row {
    margin: 70px 0px;
}

.about {
    font-size: 32px;
}

.lghtblue {
    background: #F6F7FB;
}

section {
    padding: 70px 0px;
}

.expertbtn {
    font-size: 12px;
    background: #2C4146;
    color: #fff;
    padding: 10px;
    bottom: 0px;
    position: absolute;
}

.fs18 {
    font-size: 18px;
}

.expsort a:link,
.expsort a:visited {
    font-size: 21px;
    margin: 0px 10px;
}

.select-style {
    border: 1px solid #2C4146;
    overflow: hidden;
    height: 40px;
    width: 240px;
    position: relative;
    display: block;
}

.bio-listing h4 {
    margin-bottom: 0rem;
}

.bio-listing .col-5:before {
    background: none repeat scroll 0 0 #FC7250;
    bottom: -10px;
    content: "";
    display: block;
    height: 3px;
    position: relative;
    width: 40px;
    margin-bottom: 30px;
}

.bio-listing .col-2:before,
.bio-listing .col-3:before,
.solcontact div:before {
    background: none repeat scroll 0 0 #FC7250;
    bottom: -10px;
    content: "";
    display: block;
    height: 3px;
    position: relative;
    width: 20px;
    margin-bottom: 30px;
}

.bio-listing {
    padding: 40px 0px;
    border-bottom: 1px solid #2C4146;
}

.bioind {
    margin: 40px 0px;
}

.bioind .umlmark:after {
    background: none repeat scroll 0 0 #FC7250;
    bottom: -10px;
    content: "";
    display: block;
    height: 5px;
    position: relative;
    width: 20px;
    margin-bottom: 30px;
}

.abvmark:before {
    background: none repeat scroll 0 0 #FC7250;
    bottom: -10px;
    content: "";
    display: block;
    height: 5px;
    position: relative;
    width: 20px;
    margin-bottom: 30px;
}


.login .row {
    padding: 40px 0px;
}

.login .rectbg {
    margin: 40px 0px;
}

.contitle {
    font-size: 18px;
}

.solcontact {
    font-size: 14px;
    margin-right: 4.5em;
}

.solcontact img {
    margin-bottom: 20px;
}

.mb40 {
    margin-bottom: 40px;
}

.select-style select {
    height: 44px;
    padding: 0px 0px 10px 10px !important;
    border: 0;
    font-size: 22px;
    width: 240px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-style:after {
    content: "\f107";
    font-family: FontAwesome;
    color: #fff;
    padding: 4px 4px;
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
    background: #2C4146;
    z-index: 1;
    text-align: center;
    width: 44px;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
}

/** Tabs **/
.project-tab {
    padding: 10%;
    margin-top: -8%;
}

.project-tab #tabs {
    background: #1C3237;
    color: #eee;
}

.project-tab #tabs h6.section-title {
    color: #1C3237;
}

.project-tab #tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #1C3237;
    background-color: transparent;
    border-color: transparent transparent #1C3237;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
}

.project-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #1C3237;
    font-size: 16px;
    font-weight: 600;
}

.project-tab .nav-link:hover {
    border: none;
}

.project-tab thead {
    background: #1C3237;
    color: #1C3237;
}

.project-tab a {
    text-decoration: none;
    color: #31C323733;
    font-weight: 600;
}

.tab-content h2 {
    margin: 70px 0px;
}

/** hidden search field **/
.search-form-wrapper {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 0px;
}

.search-form-wrapper.open {
    display: block;
}

.input-group {
    max-width: 600px;
    background-color: rgba(255, 255, 255, 1);
    padding: 5px 15px;
}

.search-form input {
    border-style: none;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 0rem;
    border: 0px solid #ced4da;
    color: #CCCCCC;
}

/*--------------------------------------------------------------
# Carousel
--------------------------------------------------------------*/
.carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}

.mb-4,
.my-4 {
    margin: auto 150px !important;
}

.carousel-caption {
    text-align: left;
}

.w-100 p {
    width: 550px;
    margin: 40px 0px;
}

.w-100 h1 {
    font-size: 90px;
}

.w-100 .rectbg {
    margin: 15px 0px;
}

.w-100 .rectbg p {
    color: #000;
    position: relative;
    float: left;
    top: 0%;
    margin-left: 12px;
    position: relative;
    top: 3px;
    left: 5%;
    transform: translate(0%, -120%);
}

.footer-open-close-sub-menu {
    display: none;
}

.collapse {
    display: block !important;
}

/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/
@media (min-width: 1024px) {
    .hentry.card .card-body {
        padding: 2.5rem 4rem;
    }

    .wb-hide-mobile-sidebar .wp-bp-sidebar-width {
        display: block;
    }
}

@media only screen and (max-width: 1024px) {

    h3,
    .h3 {
        font-size: 21px;
    }

    .rectbg {
        width: 95%;
        height: 53px;
    }

    .card50 .rectbg {
        width: 80%;
        height: 53px;
        left: -15px;
    }

    section {
        padding: 20px 0px;
    }

    .ptitleh1,
    .feature-banner h1 {
        font-size: 46px;
    }

    .container {
        padding-right: 30px;
        padding-left: 30px;
    }

    .card50 {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 95%;
        word-wrap: break-word;
        float: none;
        margin: 15px;
    }

    .card25 {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 95%;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
        float: left;
        margin: 15px;
    }

    .mr20 {
        margin-right: 0px;
    }

    /*.row {display: inline-block;}*/
    .logindsktp {
        display: none;
    }

    .bio-listing .col-2 {
        max-width: 50%;
        float: left;
        margin: 20px 0px;
    }

    .bio-listing .col-5,
    .bio-listing .col-3 {
        max-width: 100%;
        clear: both;
    }

    .bio-listing .row {
        display: block;
        width: 100%;
    }

    .card50bg {
        width: 95%
    }

    .feature-banner {
        height: 610px;
        color: #fff;
        background: #000;
        margin: 20px 0px;
        padding: 80px 20px;
    }

    .feature-text {
        font-size: 12px;
        width: 95%;
        float: left;
        text-align: left;
    }

    .feature-banner-overlay {
        text-align: left;
    }

    footer .col:first-of-type {
        position: relative;
        width: 100%;
        min-height: 50px;
        padding-right: 15px;
        padding-left: 15px;
        float: left;
    }

    footer .col {
        position: relative;
        width: 50%;
        min-height: 200px;
        padding-right: 15px;
        padding-left: 0px;
        float: left;
    }

    .cinfo,
    #primary-menu {
        display: none;
    }






    /*--------------------------------------------------------------
# Carousel
--------------------------------------------------------------*/
    .carousel-indicators li {
        position: relative;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        width: 10px;
        height: 10px;
        margin-right: 3px;
        margin-left: 3px;
        text-indent: -999px;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.5);
    }

    .mb-4,
    .my-4 {
        margin: auto 0px !important;
    }

    .carousel-caption {
        text-align: left;
    }

    .w-100 p {
        width: 95%;
        margin: 40px 0px;
    }

    .w-100 h1 {
        font-size: 46px;
    }

    .w-100 .rectbg {
        margin: 15px 0px;
    }

    .w-100 .rectbg p {
        color: #000;
        position: relative;
        float: left;
        top: 0%;
        left: 5%;
        transform: translate(0%, -120%);
    }

    #sm_menu_ham {
        top: 35px;
        /*left:50%;*/
        position: absolute;
    }

    .sm_menu_outer {
        height: calc(100vh - 150px);
        background-color: #1c3237;
    }

    .sm_menu_outer .mobile_menu .submenu {
        ;
        background-color: #1c3237;
    }

    .input-group {
        background-color: rgba(255, 255, 255, .0);
        max-width: 95%;
    }

    /*.fa {
background: #FC7250;
width: 40px;
height: 38px;
position: relative;
top: 8px;

padding: 5px 10px;line-height: 2 !important;
}*/
    .navbar {
        padding: .5rem 1rem;
    }

    .sm_menu_outer .mobile_menu a {
        font-size: 38px;
        font-family: bio-sans, sans-serif;
        text-transform: none;
    }

    .sm_menu_outer .mobile_menu {
        letter-spacing: 1px;
        padding: 20px 15px;
    }

    .submenu a {
        font-size: 24px !important;
    }

    .back a {
        font-size: 38px !important;
    }

    .submenu li:not(:first-child):before {
        background: none repeat scroll 0 0 #FC7250;
        left: 15px;
        top: 10px;
        content: "";
        display: block;
        height: 3px;
        position: relative;
        width: 20px;
    }

    .sm_menu_outer .mobile_menu li {
        border-bottom: 0px solid rgba(0, 0, 0, 0);
    }

    .site-branding-text {
        width: 110px;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        display: none;
    }

    #wp-bp-posts-slider .carousel-caption {
        padding: 2rem 2rem;
    }

    .ptitle-banner {
        padding: 80px 15px;
    }

    .about {
        font-size: 21px;
    }

    .tmn {
        display: none;
    }

    .mobsel {
        display: block;
    }

    .expertbtn {
        position: relative;
    }

    .experts .row {
        width: 110%;
    }

    .experts .half {
        max-width: 50% !important;
        float: left;
        padding-right: 0px;
        padding-left: 15px;
    }

    .experts .select-style {
        border: 1px solid #2C4146;
        overflow: hidden;
        height: 40px;
        width: 100%;
        position: relative;
        display: block;
    }
}

@media (max-width:768px) {
    #prefooter .col-md-3 {
        margin-bottom: 1em;
    }

    .footer-open-close-sub-menu {
        display: inline;
    }

    .collapse {
        display: none !important;
    }

    .collapse.in {
        display: block !important;
    }



    .fa {
        color: #FC7250;
        font-size: 30px;
        margin-left: 12px;
        position: relative;
        top: 3px;
    }

}